<h1>Admin Users</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Admin Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? 'Yes' : 'No' %></td>
        <td>
          <% if !user.admin? %>
            <%= link_to "Make Admin", make_admin_admin_user_path(user), method: :patch, class: "btn btn-success btn-sm" %>
          <% end %>
          <%= link_to "Delete", admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
